### Frontend ###
node_modules/
dist/

### Backend ###
target/
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
app-log/
*.log

### Java ###
hs_err_pid*

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
*.swp

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### OS ###
.DS_Store
Thumbs.db
