<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzl.umr.mapper.AiCharacterMapper">

    <resultMap type="com.zzl.umr.model.AiCharacter" id="AiCharacterMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="occupation" column="occupation" jdbcType="VARCHAR"/>
        <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
        <result property="personalityJson" column="personality_json" jdbcType="VARCHAR"/>
        <result property="speechJson" column="speech_json" jdbcType="VARCHAR"/>
        <result property="backgroundJson" column="background_json" jdbcType="VARCHAR"/>
        <result property="habitJson" column="habit_json" jdbcType="VARCHAR"/>
        <result property="loveJson" column="love_json" jdbcType="VARCHAR"/>
        <result property="systemPrompt" column="system_prompt" jdbcType="VARCHAR"/>
        <result property="isEnabled" column="is_enabled" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>
