<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzl.umr.mapper.AiUserEmotionMapper">

    <resultMap type="com.zzl.umr.model.AiUserEmotion" id="AiUserEmotionMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="characterId" column="character_id" jdbcType="VARCHAR"/>
        <result property="love" column="love" jdbcType="INTEGER"/>
        <result property="trust" column="trust" jdbcType="INTEGER"/>
        <result property="depend" column="depend" jdbcType="INTEGER"/>
        <result property="jealousy" column="jealousy" jdbcType="INTEGER"/>
        <result property="anger" column="anger" jdbcType="INTEGER"/>
        <result property="miss" column="miss" jdbcType="INTEGER"/>
        <result property="anxiety" column="anxiety" jdbcType="INTEGER"/>
        <result property="shy" column="shy" jdbcType="INTEGER"/>
        <result property="expectation" column="expectation" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>
